.mt-2 {
  margin-top: 2px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-2 {
  margin-right: 2px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-top: 20px;
}
.mb-2 {
  margin-right: 2px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-2 {
  margin-left: 2px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.ibody {
  background: #F2F1EE;
}
.box {
  flex: 1;
}
/*这是轮播图*/
.swipers img {
  width: 100%;
}
.swiper-pagination {
  background: rgba(0, 0, 0, 0.5);
  bottom: 5px !important;
  text-align: right;
  padding-right: 5px;
}
/*主页内容*/
.content {
  padding-left: 5px;
  padding-right: 5px;
}
.content .cont2 {
  overflow: hidden;
  zoom: 1;
  width: 100%;
}
.content .cont2 li {
  float: left;
  width: 50%;
  padding-right: 2px;
}
.content .cont2 li:nth-of-type(2) {
  padding-right: 0;
  padding-left: 2px;
}
.content .cont4 {
  overflow: hidden;
  zoom: 1;
  width: 100%;
  border: solid 1px #E3E3E3;
}
.content .cont4 li {
  float: left;
  width: 25%;
}
.content .cont4 li:nth-of-type(4n-3) a {
  border-left: 0;
}
.two {
  padding: 10px 0 10px 35%;
  background-color: #fff;
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: 7%;
  display: block;
  border: solid 1px #E3E3E3;
}
.two h3 {
  font-size: 17px;
  color: #333;
  font-weight: 400;
}
.two span {
  font-size: 14px;
  color: #666;
}
.four {
  display: block;
  text-align: center;
  border-left: solid #E3E3E3 1px;
  border-bottom: solid #E3E3E3 1px;
  padding: 10px 0 15px;
  background: #fff;
}
.four img {
  width: 30px;
  height: 30px;
}
.four h3 {
  font-size: 14px;
  font-weight: 400;
}
/*新闻*/
.newBox {
  padding: 5px 5px 0 5px;
}
.news {
  background: #fff;
}
.news a {
  display: block;
}
.newTit {
  padding: 15px 10px 10px;
  color: #444;
  font-size: 16px;
}
.firstN {
  position: relative;
  padding: 0 10px;
}
.firstN a {
  position: relative;
}
.firstN a img {
  width: 100%;
}
.firstN a p {
  position: absolute;
  bottom: 5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 10px;
}
.newList .item {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  clear: both;
}
.newList .item img {
  width: 75px;
  height: 55px;
}
.newList .item .info {
  display: inline-block;
  vertical-align: top;
}
.newList .item .info h4 {
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.newList .item .info p {
  font-size: 13px;
  color: #999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/*底部版权*/
footer {
  flex: 0;
  padding-bottom: 80px;
  text-align: center;
  background: #fff;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
}
footer a {
  color: #00c;
}
/*导航*/
nav {
  width: 100%;
  position: fixed;
  bottom: 0;
}
nav .nav {
  height: 56px;
  display: flex;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#dfdfdf));
  border-top: 1px #e7e7e7 solid;
}
nav .Innav {
  height: 35px;
  display: flex;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#212C30), to(#121619));
}
nav .Innav li.navOne {
  flex: 1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
  background-size: 1px 80%;
  background-position: right center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
nav .Innav li.navOne a {
  color: #fff;
  font-size: 24px;
  display: block;
}
nav .Innav li.navOne:last-of-type {
  background: none;
  position: relative;
}
nav .Innav li.navOne:last-of-type ul {
  display: none;
  position: absolute;
  bottom: 40px;
  width: 120px;
  right: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
}
nav .Innav li.navOne:last-of-type ul li {
  height: 35px;
  border-top: 1px solid #40484b;
  border-bottom: 1px solid #000609;
}
nav .Innav li.navOne:last-of-type ul li:first-of-type {
  border-top: none;
}
nav .Innav li.navOne:last-of-type ul li:last-of-type {
  border-bottom: none;
}
nav .Innav li.navOne:last-of-type ul a {
  line-height: 35px;
  font-size: 14px;
}
.point {
  flex: 1;
  text-align: center;
}
.point a {
  color: #999;
  display: block;
  font-size: 24px;
}
.point a div {
  font-size: 14px;
  color: #333;
}
/*二级导航三角*/
.secend:after {
  content: '';
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  border-width: 6px 6px 0px 6px;
  width: 0px;
  height: 0px;
  display: block;
  border-style: solid;
  position: absolute;
  bottom: -6px;
  left: 70%;
}
/*简介界面*/
.Bbox {
  padding: 10px;
}
.Bbox h2 {
  padding-bottom: 10px;
}
/*简介内容*/
.Bcont img {
  width: 100%;
}
.Bcont p {
  font-size: 14px;
  line-height: 1.5em;
  text-indent: 2em;
}
/*个人名片*/
.bgimg {
  height: 200px;
  overflow: hidden;
}
.bgimg img {
  width: 100%;
}
.hPho {
  text-align: center;
  margin-top: -40px;
}
.hPho img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.hPho .intro {
  font-size: 12px;
  color: #666;
}
.Pbrie {
  padding: 10px;
}
.Pbrie .Pinfo {
  padding-left: 10px;
  color: #444;
}
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.QRcode {
  position: absolute;
  margin: 0 auto;
  width: 260px;
  padding: 5px;
  background: #fff;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  margin-top: -130px;
  margin-left: -130px;
  box-shadow: 0 0 20px 5px #444;
}
.QRcode .codeClose {
  position: absolute;
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  background: #83A6B8;
  right: -10px;
  top: -10px;
}
.QRcode .codeImg {
  background: #fff;
}
.QRcode .codeImg img {
  width: 100%;
}
.QRcode p {
  text-align: center;
  color: #666666;
  font-size: 12px;
}
